@import '@/style/app.less';

// 主窗体
.view-main {
  height: 100%;

  // 左侧栏背景色
  .ivu-menu-vertical.ivu-menu-light:after {
    background: 0;
  }

  // 行高
  .ivu-layout-header{
    line-height: 1;
  }

  // 版权
  .ivu-layout-footer{
    padding: 0;
  }

  &-menu {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;

    .ivu-menu-vertical .ivu-menu-submenu-title-icon {
      right: 10px;
    }

    .ivu-menu-item>i, .ivu-menu-submenu-title span>i, .ivu-menu-submenu-title>i{
      margin-right: 8px;
      vertical-align: middle;
      font-size: 16px;
    }

    &-logo {
      height: 64px;
    }
  }

  &-header {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &-left{
      float:left;
    }
    &-right{
      float: right;
    }

    &-item{
      display: inline-block;
      cursor: pointer;
      transition: all .2s ease-in-out;

      &:hover{
        background: @background;
      }

      &-icon{
        padding: 0 12px;
        line-height: 64px;
      }
    }

    &-braedcrumb {
      padding: 0 12px;
      display: inline-block;
    }

    &-dropdown-title{
      padding: 7px 0 10px;
      text-align: center;
      color: @color-sub;
    }

    &-avatar{
      line-height: 64px;
      padding: 0 15px;
      background: @color;
      
      &-name{
        margin-left: 12px;
        color: #fff;
      }
  
      &:hover{
        background: @color-dark;
        color: #fff;
      }
    }
  }
}

// 登陆页面
.view-login{
  width: 100%;
  height: 100%;
  background:@background;

  &-box{
    width: 1024px;
    height: 85%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  &-left{
    height: 560px;
    border-radius: 6px 0px 0px 6px;
    box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.08);
    padding-right: 0;
    background: linear-gradient(314deg,rgba(82,114,244,1) 0%,rgba(0,170,231,1) 100%) rgba(0,170,231,0.65);
    background-color: rgba(0,170,231,0.65);
    display: flex;
    align-items: center;

    &-img{
      width: 512px;

      img{
        display: block;
        margin: 0 auto;
      }
    }
  }
  &-right{
    width: 512px;
    height: 560px;
    padding: 70px;
    background: #fff;
    border-radius: 0px 6px 6px 0px;
    box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.08);
    position: relative;

    &-logo{
      height: 90px;
      margin-bottom: 50px;
    }

    &-lang{
      margin-top: 50px;
      display: flex;
      justify-content: center;

      .view-main-header-item:hover{
        background: #fff;
      }
    }
  }
}

// 页面布局
.page-header{
  background: #fff;
  padding: 20px 30px;
  margin-top: 1px;

  &-title{
    display: inline-block;
    color: @color-title;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &-desc{
    color: @color-sub;
    font-weight: 500;
    font-size: 14px;
  }
}

// 中心布局容器
.page-content{
  width: 100%;
  padding: 30px 30px 0;
  margin-bottom: 30px;
  position: relative;

  // 表格关闭超出隐藏
  .ivu-table-wrapper, .ivu-table-fixed-body{
    overflow: visible;
  }
}

// 容器盒子
.page-box{
  display: block;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  margin-bottom: 30px;

  &-content{
    padding: 20px;
  }

  &-content + &-content{
    padding: 0 20px 20px;
  }
}